# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example.gitignore files : https://github.com/github/gitignore
/html/common/conn.php
/.sql/
/.vscode/
/html/vendor/
/html/composer.phar